*{
	padding:0;
	margin:0;
}
form{
	text-align:center;
}
input{
	padding:10px;
	width:25vw;
	border:1px solid;
	border-radius:4px;
}
#title{
	font-family:Arial;
	width:100%;
	color:white;
	font-size:40px;
	text-align:center;
}
#subtitle{
	width:100%;
	color:#EEE;
	font-size:20px;
	text-align:center;
}
.alert{
	width:50%;
	font-size:20px;
	margin:auto;
	text-align:center;
}