*{
	padding:0;
	margin:0;
}
form{
	text-align:center;
}
input{
	width:25vw;
}
#title{
	width:100%;
	color:white;
	font-size:40px;
	text-align:center;
}
#subtitle{
	width:100%;
	color:#EEE;
	font-size:20px;
	text-align:center;
}
#container{
	background-color:#113;
	height:100vh;
	width:100vw;
	padding:35vh 20vw 20vh 20vw;
}