<html>
<head>
	<title>MusicTrackr - Artist Info</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link href="{{url_for('static', filename='Bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='Bootstrap/css/bootstrap-theme.min.css')}}" rel="stylesheet">
	<script type="text/javascript">
		var artistName = '{{artist}}'
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='artist.js')}}"></script>
</head>
<body>
	<p>Total plays on <a href="http://www.last.fm">last.fm</a>: <span id="plays"></span></p>
	<div id='icon'></div>
	<canvas id='graph' width="640" height="480"></canvas>
</body>
</html>